<div class="content-wrapper">
  <div class="content-block">
    <% @blogs.each do |blog| %>
    <div class="content">
      <div class="user-about">
        <% if blog.user.image.attached? %>
          <div class="user-image">
            <%= image_tag blog.user.image %>
          </div>
        <% else %>
          <div class="user-image">
            <%= image_tag "女性横顔.jpeg" %>
          </div>
        <% end %>
        <div class="user-profile">
          <div class="user-name">
            <th> 投稿者 ：</th>
            <th><%= link_to blog.user.user_name, user_path(blog) %></th>
          </div>
        </div>
      </div>

      <tr class="blog-title">
        <th> タイトル   ：</th>
        <th><%= link_to blog.title, blog_path(blog) %></th>
      </tr>
      <div class="blog-content">
        <th> コンテンツ ：</th>
        <th><%= blog.content %></th>
      </div>
      <div class="action-manu">
        <div class="like">
          <% if current_user.already_favorited?(blog) %>
            <%= button_to blog_favorites_path(blog), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
            <%= blog.favorites.count %>
          <% else %>
            <%= button_to blog_favorites_path(blog), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
            <%= blog.favorites.count %>
          <% end %>
        </div>
        <div class="comment">
          <i class="fa-solid fa-comment"></i>
          <%= blog.comments.count %>
        </div>
        <p class="card-text">
          <small class="text-muted">更新日：<%= blog.updated_at.strftime("%Y-%m-%d") %></small>
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="side-bar">
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>

<%= paginate @blogs %>