<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h4><%= @blog.title %></h4>
          </div>
          <div class="card-body">
            <p class="card-text"><%= simple_format(@blog.content) %></p>
            <p class="text-right font-weight-bold mr-10"><%= link_to "#{@blog.user.user_name}", user_path(@blog.user.id) %></p>
            <p class="card-image">
            <% if @blog.images.attached? %>
              <% @blog.images.each do |image| %>
                <%= image_tag image, class: "img-thumbnail" %> <br>
              <% end %>
            <% end %>
            </p>
          </div>
          <p class="card-text">
            <small class="text-muted">更新日：<%= @blog.updated_at.strftime("%Y-%m-%d") %></small>
          </p>
          <div id="show_favorite_<%= @blog.id %>">
            <%= render 'favorites/favorite', blog: @blog %>
          </div>
          <% if @blog.user == current_user %>
            <%= link_to '編集', edit_blog_path(@blog), class: "btn btn-success" %>
            <%= button_to '削除', blog_path(@blog), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"}  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <ul>
    <li class="comment-create">
      <h3 class="text-left title">コメント</h3>
    </li>
    <li id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </li>
  </ul>
  <hr>
  <% if user_signed_in? %>
    <div class="comment-create">
        <h5 class="text-left">コメントを投稿する</h5>
        <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
    </div>
  <% end %>
</div>
