<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @blog.title %></h5>
          <p class="card-text"><%= simple_format @blog.content %></p>
          <p class="card-text">
            <small class="text-muted">更新日：<%= @blog.updated_at.strftime("%Y-%m-%d") %></small>
          </p>
          <% if current_user.already_favorited?(@blog) %>
            <%= button_to blog_favorites_path(@blog), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
            <%= @blog.favorites.count %>
          <% else %>
            <%= button_to blog_favorites_path(@blog), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
            <%= @blog.favorites.count %>
          <% end %>
          <% if @blog.user == current_user %>
            <%= link_to '編集', edit_blog_path(@blog), class: "btn btn-success" %>
            <%= link_to '削除', blog_path(@blog), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><%= @blog.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@blog.content) %></p>
    <p class="text-right font-weight-bold mr-10"><%= @blog.user.user_name %></p>
  </div>

  <% if flash[:notice] %>
    <div class = "alert alert-primary"><%= flash[:notice] %></div>
  <% end %>
</div>

<div class="p-comment__list">
  <div class="p-comment__listTitle">コメント</div>
  <%= render @blog.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>