<div class="container mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="grid-container">
        <div class="grid-item">
          <h6>メイン</h6>
          <h4><%= @mission.input_main %></h4>
        </div>

        <div class="grid-item">
          <h6>読み方</h6>
          <p class="card-text"><%= simple_format(@mission.input_reading ) %></p>
        </div>

        <div class="grid-item">
          <h6>ライブラリー</h6>
          <p class="card-text"><%= simple_format(@mission.input_library ) %></p>
        </div>

        <div class="grid-item">
          <h6>例文</h6>
          <p class="card-text"><%= simple_format(@mission.input_sample ) %></p>
        </div>

        <div class="grid-item">
          <h6>説明文</h6>
          <p class="card-text"><%= simple_format(@mission.input_description ) %></p>
        </div>

        <div class="grid-item">
          <h6>同義語</h6>
          <p class="card-text"><%= simple_format(@mission.input_alias ) %></p>
        </div>

        <div class="grid-item">
          <h6>関連語</h6>
          <p class="card-text"><%= simple_format(@mission.input_related ) %></p>
        </div>

        <div class="grid-item">
          <h6>その他</h6>
          <p class="card-text"><%= simple_format(@mission.input_remarks ) %></p>
        </div>

        <div class="grid-item">
          <h6>リファレンスサイトURL</h6>
          <p class="card-text"><%= simple_format(@mission.input_reference_site ) %></p>
        </div>

      </div>

      <div class="card">
        <p class="card-text">
          <% @mission.tags.each do |tag| %>
            <span class="badge rounded-pill bg-primary"><%= tag.tag_name %></span>
          <% end %>
          <p class="text-muted">投稿者：<%= @mission.user.user_name %></p>
          <small class="text-muted">更新日：<%= @mission.updated_at.strftime("%Y-%m-%d") %></small>
        </p>
        <% if @mission.user == current_user %>
          <%= button_to '編集', edit_mission_path(@mission), method: :get, class: "btn btn-success" %>
          <%= button_to '削除', mission_path(@mission), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
        <% end %>
      </div>


      <div class="card">
        <% if flash[:notice] %>
          <div class = "alert alert-primary"><%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>